<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CureMax S.R.L. - Distribuidora de Medicamentos</title>
</head>
<body>

    <header>
        <p>Distribuidora de Medicamentos</p>
    </header>

    <section class="contenido">
        <h2>Acerca de Nosotros</h2>
        <p>
            CureMax S.R.L. es una distribuidora de medicamentos fundada en 1998 en Santa Cruz, Bolivia. Desde su inicio, nos hemos dedicado a ofrecer productos farmacéuticos de calidad a nuestros clientes, con el compromiso de garantizar la salud y bienestar de la comunidad.
        </p>
        <p>
            Contamos con un único almacén ubicado en la Avenida G77, llegando a PlayLand en el Parque Empresarial 1, donde operamos con la mayor eficiencia para satisfacer las necesidades de nuestros clientes.
        </p>
    </section>

    <section class="contacto">
        <h2>Síguenos en nuestras redes sociales:</h2>
        <ul>
            <li><a href="https://www.facebook.com/CureMax" target="_blank">Facebook</a></li>
            <li><a href="https://www.instagram.com/CureMaxBolivia" target="_blank">Instagram</a></li>
            <li><a href="https://wa.me/59178094291" target="_blank">WhatsApp</a></li>
        </ul>
    </section>

    <!-- Sección de Ubicación con Google Maps -->
    <section class="ubicacion1">
        <div class="mapa-container">
          <!-- Mapa interactivo de Google Maps -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1344.0199535013764!2d-63.15235027089272!3d-17.675598951723806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e121a57aff69%3A0xae2b265aa0a8a138!2sSAE%20S.A!5e0!3m2!1ses!2sbo!4v1734986590266!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
      
        <div class="texto-ubicacion">
          <h2>Ubicación</h2>
          <p>Visítanos en:</p>
          <p>Avenida G77, llegando a PlayLand</p>
          <p>en el Parque Empresarial 1, Santa Cruz, Bolivia</p>
          <p>Atencion de lunes a vienes</p>
          <p>De 08:00 a 17:00</p>
        </div>
      </section>
    
    <section class="ubicacion2">
        <div class="mapa-container">
            <!-- Mapa interactivo de Google Maps -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d671.7476523821391!2d-63.17328262596175!3d-17.745649268182234!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x93f1e7bbf72fffff%3A0x1fce51aebc9642b6!2sSAE%20S.A.%20Pharmaceutical%20Company!5e0!3m2!1ses!2sbo!4v1734986554986!5m2!1ses!2sbo" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>        </div>
        
        <div class="texto-ubicacion">
            <h2>Ubicación "Oficina"</h2>
            <p>Visítanos en:</p>
            <p>Avenida Cristo Redentor</p>
            <p>4to y 5to anillo</p>
            <p>Atencion de lunes a vienes</p>
            <p>De 08:00 a 16:00</p>
        </div>
    </section>

</body>
</html>
