<app-navbar ></app-navbar>
  <div class="container-fluid">
    <!-- Mensaje de bienvenida con estilo mejorado -->
    <div class="welcome-section text-center py-5" style="background: linear-gradient(to right, #007bff, #00c6ff); color: white;">
        <div class="container">
            <h1 class="display-3 font-weight-bold mb-4">Bienvenido a CureMax S.R.L.</h1>
        </div>
    </div>
  </div>
  <!--<app-inicio ></app-inicio> -->
  <!-- Componente de ruta donde se carga el contenido dinámico -->
  <router-outlet></router-outlet>
<app-footer></app-footer>